<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Map</title>
    <link rel="stylesheet" href="world.component.css"/>  
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <input type="text" placeholder="Search.."/>
        </ul>
    </nav>

    <section class="header">
        <h1>D280 performance assessment</h1>
        <p>This is an interactive world map created with HTML and Angular.</p>
    </section>

    <div class="row">
        <div class="column">
            <h1>Map here</h1>
        </div>
        <div class="column">
            <h1>Description</h1>
        </div>
    </div>

</body>
</html>

